//=========================================================
//  Button
//---------------------------------------------------------

.btn {
  @include button-base;
  outline: none;
  border: 0;
  padding: 0;
  overflow: hidden;
  transform: translate(0, 0);
  background: transparent;
}

.btn--icon {
  border-radius: 40px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.form-submit {
  padding: 10px 20px;
  background: #ccc;
  border-radius: 100px;
  color: white;
  &:enabled {
    background: #000;
  }

  &:hover:enabled {
    background: #999;
  }

  &:active {
    background: #ccc;
  }

  &:focus:enabled {
    background: #999;
  }
}

.form-submit:not(:first-child) {
  margin-left: 15px;
}
